/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    color: #000;
}

/* Navigation Bar */
nav {
    background-color: #282A35;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Main Content */
main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.search-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container input[type="text"] {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.search-container button:hover {
    background-color: #45a049;
}

/* Categories and Recent Errors */
.categories, .recent-errors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.category, .error-box {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
    min-width: 200px;
}

.category:hover, .error-box:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #282A35;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .category, .error-box {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    nav a {
        padding: 10px;
        font-size: 15px;
    }

    .search-container {
        flex-direction: column;
    }

    .search-container input[type="text"] {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .category, .error-box {
        flex: 1 1 100%;
    }
}
